name: Build and Push to ECR

on:
  push:
    branches:
        - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Log in to Amazon ECR
        run: |
          aws ecr get-login-password --region ${{ secrets.AWS_REGION }} | \
          docker login --username AWS --password-stdin 139605338147.dkr.ecr.us-east-1.amazonaws.com

      - name: Build, Tag, and Push Docker Image
        env:
          ECR_REGISTRY: 139605338147.dkr.ecr.us-east-1.amazonaws.com
          ECR_REPOSITORY: mediplus
        run: |
          IMAGE_TAG=${GITHUB_RUN_NUMBER}
          IMAGE_URI=${ECR_REGISTRY}/${ECR_REPOSITORY}:${IMAGE_TAG}
          echo "Building and pushing image: $IMAGE_URI"
          docker build -t $IMAGE_URI .
          docker push $IMAGE_URI
          echo "Image pushed: $IMAGE_URI"